*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #03CEA4;
    text-align: center;
}

h1{
    font-size: 6vw;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #EAC435;
    border-radius: 20%;
    box-shadow: 9px 10px 8px 2px rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

button{
    background-color: #FB4D3D;
    padding: 1% 2.5%;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    color: wheat;
}

.win{
    position: absolute;
    padding: 0.5% 2.5%;
    background-color: #345995;
    font-size: 4rem;
    border: none;
    border-radius: 2rem;
    color: wheat;
}

.hide{
    display: none;
}